*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered{
  text-align: center;
}

.btn{
  margin: 3px;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.05,1.05);
}

.squish{
  padding-left: 10%;
  padding-right: 10%;
}

.input-group{
  padding: 3px;
}

.enter{
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}

body{
  background-image: url("paper-background.jpg");
  padding-bottom: 60px;
}

.jumbotron, .bg-light{
  background-image: url("marble-background.jpg");
}

.info{
  background: #0002;
  border-radius: 15px;
  padding: 5px;
}

.name{
  font-size: 1.2em;
}
