*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered{
  text-align: center;
}

.btn{
  margin: 3px;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.05,1.05);
}

.squish{
  padding-left: 10%;
  padding-right: 10%;
}

body{
  background-image: url("paper-background.jpg");
}

.info{
  background: #0002;
  border-radius: 35px;
  padding: 5px;
}

.name{
  font-size: 1.2em;
}
